Source: fail2ban
Section: net
Priority: optional
Maintainer: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends-Indep: debhelper (>= 4.1.67), python, python2.3-dev, help2man
Standards-Version: 3.6.1

Package: fail2ban
Architecture: all
Depends: python, iptables
Description: Ban IPs that make too many password failure
 The Fail2Ban scans log files like /var/log/auth.log or
 /var/log/apache/access.log and bans IP that makes too many password
 failures. It updates firewall rules to reject the IP
 address. Currently, iptables, ipfwadm and ipfw are supported.
 .
 Homepage: http://www.sourceforge.net/projects/fail2ban

