#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/fail2ban

# no parallel execution -- required for dpatch
.NOTPARALLEL:

include /usr/share/dpatch/dpatch.make

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp

build: patch

copy-inits:
#	cp config/gentoo-confd debian/fail2ban.default
#	cp config/debian-initd debian/fail2ban.init
#	cp config/fail2ban.logrotate debian/

clean-inits:
#	rm -f debian/fail2ban.{default,init,logrotate}

clean: clean-inits unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -rf changelog.gz build* 

	dh_clean

install: build copy-inits
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/fail2ban.
	python setup.py install --root=$(DESTDIR) --no-compile
	#X Evil - must be removed after Debian switches over to 2.4, now
	#  distutils.setup will override the enterpreter line to /usr/bin/python
	install fail2ban-server fail2ban-client $(DESTDIR)/usr/bin
	#  Install Debian shipped jail file in 1 piece (instead of patching
	#  the shipped one since there are too many changes)
	install -m 644 debian/jail.conf $(DESTDIR)/etc/fail2ban
#X	mkdir -p $(DESTDIR)/etc
#X	cp config/fail2ban.conf.iptables $(DESTDIR)/etc/fail2ban.conf

# 
# Just to comply with policy 4.8
binary-arch:

# Build architecture-independent files here.
#X binary-indep: install
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_installexamples config/jail.conf
#	dh_install
#	dh_installdebconf
	dh_installlogrotate
	dh_installinit -- defaults 99
#	dh_installcron
#	dh_installinfo
	dh_installman man/*
	dh_pycentral
	dh_python
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure copy-inits clean-inits
