# For Ubuntu 16.04 LTS
# Edited by ItsAdventureTime (Github) > Juan Karlo de Guzman
# Copy fail2ban-source/files/fail2ban.service to /lib/systemd/system/
# sudo chown root:root /lib/systemd/system/fail2ban.service
# sudo systemctl start fail2ban
# To make sure it starts on boot time: sudo systemctl enable fail2ban.service
# Restart systemd daemon: sudo systemctl daemon-reload
# Restart fail2ban service: sudo systemctl restart fail2ban
# Reference: https://wiki.ubuntu.com/SystemdForUpstartUsers
# https://www.digitalocean.com/community/tutorials/how-to-configure-a-linux-service-to-start-automatically-after-a-crash-or-reboot-part-1-practical-examples

[Unit]
Description=Fail2Ban Service
Documentation=man:fail2ban(1)
After=network.target iptables.service firewalld.service
PartOf=iptables.service firewalld.service

[Service]
Type=forking
ExecStart=/usr/local/bin/fail2ban-client -x start
ExecStop=/usr/local/bin/fail2ban-client stop
ExecReload=/usr/local/bin/fail2ban-client reload
PIDFile=/var/run/fail2ban/fail2ban.pid
Restart=always

[Install]
WantedBy=multi-user.target
